<div>
    <% items.forEach(function(image) { %>
    <div>
        <div>
            <h2><%= image.title %></h2>
            <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
            <div>
                <h5><%= image.name %></h5>
                <p><%= image.desc %></p>
            </div>
            <h2><%= image.description %></h2>
            <h2><%= image.ordering %></h2>
            <h2><%= image.active %></h2>
        </div>
    </div>
    <% }) %>
</div>