<section class="featured" id="featured">

    <h1 class="heading"> <span>featured books</span> </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">

            <% list.forEach(function(image) { %>
            <div class="swiper-slide box">
                <div class="icons">
                    <a href="/page/detail/<%= image._id%>" class="fas fa-search"></a>
                    <a href="/user/heart/<%= image._id %>" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
                    <div>
                        <h5><%= image.name %></h5>
                        <p><%= image.desc %></p>
                    </div>
                </div>
                <div class="content">
                    <h3><%= image.title %></h3>
                    <div class="price">$<%= image.cost %></div>
                    <a href="/user/cart/<%= image._id%>" class="btn">add to cart</a>
                </div>
            </div>
            <% }) %>



        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>