<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>upto 75% off</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias sit necessitatibus, aliquid ex minima at!</p>
            <a href="page/arrivals" class="btn">shop now</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">

                <% list.forEach(function(image) { %>
                <a href="page/detail/<%= image._id %>" class="swiper-slide"><img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
                    <div>
                        <h5><%= image.name %></h5>
                        <p><%= image.desc %></p>
                    </div>
                </a>
                <% }) %>
            </div>
            <img src="image/stand.png" class="stand" alt="">
        </div>

    </div>

</section>