<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row min-vh-80">
            <div class="col-12">
                <div class="card mt-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h2 class="text-white text-capitalize ps-3">Manage</h2>
                        </div>
                    </div>
                    <% list.forEach(function(image) { %>
                        <a href="page/detail/<%= image._id %>" class="swiper-slide box">
                            <div class="image">
                                <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
                            </div>
                            <div class="content">
                                <h3><%= image.title %></h3>
                                <div class="price">$<%= image.cost %></div>
                            </div>
                        </a>
                    <% }) %>


                </div>
            </div>
        </div>

    </div>
</main>