<% list.forEach(function(image) { %>
<a href="page/detail/<%= image._id%>"><img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
    <div>
        <h5><%= image.title %></h5>
        <p>$<%= image.cost %></p>
    </div>
</a>
<% }) %>